.anecdote {
  background-color: #ece8df;
  color: #444;
  padding: 1rem;
  font-family: var(--font-walter);
  font-weight: 400;

  margin: 0 1.5rem 1.5rem 0;
  display: inline-block;
  width: 100%;
  border: solid 2px black;
  padding: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  transition: all 0.25s ease-in-out;
}

.author {
  align-self: flex-end;
}
